html (lang='en')
  head
    title Thesis Blog
  body
    h1 "The Future Home of Ashley's Thesis Project"
    p "Brunch forage synth, assumenda single-origin coffee hot chicken consectetur ethical iceland.
    Reprehenderit cold-pressed church-key aliquip wayfarers anim, put a bird on it before they sold out cupidatat.
    Biodiesel enim brunch, ex hammock bicycle rights squid raclette lyft. Sed wolf et tumeric, glossier sint selfies authentic celiac.
    Man bun art party squid typewriter before they sold out. Williamsburg bespoke pork belly"
