html(lang="en")
  head
    title Blog Post page
  body
    section.post
      .container.text-right
        a(href="").text-faded view all
        .row
          .col-lg-8.col-lg-offset-2.text-center
            h2.section-heading Blog Post 1

            hr.light

            p.text-faded
              | Blog Post title
            .article
              | Brunch forage synth, assumenda single-origin coffee hot chicken consectetur ethical.
